{% set t = en if lang == "en" else it %}
{% set prefix = baseUrl if lang == "en" else baseUrl + "it/" %}
<!-- Cookie Consent Banner -->
<div class="cookie-banner" id="cookie-banner">
  <div class="container cookie-banner-inner">
    <div class="cookie-banner-text">
      <p>{{ t.cookie.text }} <a href="{{ prefix }}cookie-policy.html">{{ t.cookie.learnMore }}</a></p>
    </div>
    <div class="cookie-banner-actions">
      <button class="btn btn-primary" id="cookie-accept">{{ t.cookie.accept }}</button>
    </div>
  </div>
</div>

<script src="{{ baseUrl }}js/main.js"></script>
